@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
@import "variables.css";

/* loading */
.loading-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
  z-index: 1000;
}

.loading-overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading-overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* header */
#header {
  background-color: var(--black-background);
  color: var(--white-color);
}

#header a {
  color: var(--white-color);
}

/* header-top */
.header-top {
  font-size: 0.8rem;
}

.header-top__text {
  padding: 4px 0;
}

.header-top__left {
  gap: 16px;
}

.header-top__group {
  gap: 6px;
}

.header-phone:hover {
  color: var(--primary-color);
}

.header-top__right a {
  padding: 2px;
}

.header-top__right a:hover {
  color: var(--primary-color);
}

/* header-center */
.header-center {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-center__box {
  gap: 30px;
  padding: 20px 0;
}

.header-center__box.scroll {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: #333;
  box-shadow: 0 0 2px #000;
}

.header-center__logo {
  font-size: 3rem;
  font-family: "Fasthand", cursive;
}

.header-center__logo:hover {
  text-decoration: none;
}

.header-center__group {
  max-width: 400px;
  flex: 1;
}

.header-center__group input {
  flex: 1;
  padding: 0 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.header-center__group button {
  padding: 8px 20px;
  font-size: 1rem;
  border: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.header-list__search {
  top: calc(100% + 2px);
  left: 0;
  background-color: var(--white-color);
  z-index: 9;
  margin: 0;
  padding: 10px 0;
  max-height: 200px;
  overflow-y: auto;
}

.header-list__empty {
  color: #999;
  font-size: 0.8rem;
}

.header-list__link {
  padding: 10px;
}

.header-list__link:hover {
  background-color: var(--white-background);
}

.header-list__link img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-list__text {
  color: var(--black-color);
  padding-left: 5px;
}

.header-list__text .old {
  color: #999;
  text-decoration: line-through;
}

.header-list__text h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

.header-list__text span {
  font-size: 0.6rem;
  font-weight: 600;
}

.header-center__icons {
  gap: 20px;
}

.header-center__user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.1rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.header-center__user:hover .header-center__list {
  opacity: 1;
  visibility: visible;
}

.header-center__user:hover .header-center__list::after {
  display: block;
}

.header-center__list {
  background-color: var(--white-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  right: 0;
  top: calc(100% + 5px);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.header-center__list::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent var(--white-color) transparent;
  bottom: 98%;
  right: 6px;
  display: none;
}

.header-center__item {
  color: var(--black-color) !important;
  padding: 6px 10px;
}

.header-center__item:hover {
  text-decoration: none;
  color: var(--primary-color) !important;
  background-color: #f9f9f9;
}

.header-center__heart {
  font-size: 1.4rem;
}

.count-like {
  top: -4px;
  right: -8px;
  font-size: 0.8rem;
  background-color: #d26e4b;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  height: 18px;
  min-width: 18px;
  border-radius: 50%;
}

.header-center__show {
  background-color: var(--white-color);
  min-width: 280px;
  padding: 10px;
  top: calc(100% + 5px);
  right: -6px;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  cursor: default;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 1px 1px #000;
}

.header-center__show .header-list__empty {
  padding: 0 10px;
}

.header-center__show::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent var(--white-color) transparent;
  bottom: 99%;
  right: 10px;
}

.header-center__cart:hover {
  text-decoration: none;
}

.header-group:hover .header-center__cart::after {
  top: -8px;
}

.header-group:hover .header-count {
  background-color: var(--white-color);
  color: var(--black-color);
}

.header-group:hover .header-center__show {
  opacity: 1;
  visibility: visible;
}

.header-center__cart::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  transition: top 0.5s ease;
}

.header-count {
  line-height: 25px;
  color: var(--primary-color);
  border: 2px solid var(--white-color);
  width: 30px;
  height: 30px;
  z-index: 1;
  font-size: 1rem;
  background-color: var(--black-background);
  font-weight: 600;
  transition: all 0.5s ease;
}

.header-cart__list {
  padding: 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
}

.header-cart__item {
  color: var(--black-color);
  padding: 10px 6px;
}

.header-cart__item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.header-cart__group {
  padding-left: 5px;
  flex: 1;
}

.header-cart__link {
  flex: 1;
}

.header-cart__link h4 {
  font-size: 1.1rem;
  color: var(--black-color);
  font-weight: 600;
}

.header-cart__close {
  font-size: 1.5rem;
  cursor: pointer;
}

.header-cart__close:hover {
  opacity: 0.8;
}

.header-cart__bottom {
  font-size: 0.8rem;
}

.header-cart__total {
  font-size: 0.9rem;
  border-top: 1px solid var(--black-background);
  color: var(--primary-color);
}

.header-cart__total span {
  color: var(--black-color);
}

.header-cart__btn {
  font-size: 1rem;
  padding: 10px 0;
}

.header-cart__btn a {
  width: 100%;
  padding: 6px 0;
  cursor: pointer;
  color: var(--white-color);
  border: none;
}

.header-cart__btn a:hover {
  opacity: 0.8;
}

.header-cart__btn a:first-child {
  background-color: var(--primary-color);
}

.header-cart__btn a:last-child {
  background-color: #d26e4b;
}

/* header-bottom */
.header-bottom {
  padding: 15px 0;
}

.header-bottom.scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-background);
  z-index: 999;
}

.header-bottom .nav-link {
  font-weight: 600;
  padding-bottom: 2px;
  margin: 0 6px;
  font-size: 1rem;
}

.header-bottom .nav-link:hover,
.header-bottom .nav-link.active {
  color: var(--primary-color) !important;
  border-bottom: 1px solid currentColor;
}

.header-bottom .nav.justify-content-center {
  gap: 10px;
}

.header-nav__list {
  padding: 4px 10px;
  border: none;
  display: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--white-color);
}

.header-nav__list:focus {
  outline: none;
}

.nav-mobile .nav-link {
  font-size: 1.1rem;
}

.tablet-nav {
  top: 0;
  left: 0;
  width: 320px;
  z-index: 11;
  background-color: var(--white-color);
  color: var(--black-color);
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
}

.tablet-nav.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.tablet-nav .header-center__group {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 40px 10px 20px;
}

.tablet-nav .header-center__group button {
  border-radius: 0;
}

.tablet-nav .header-center__group input {
  border-radius: 0;
}

.tablet-nav .header-center__group .header-list__search {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.tablet-nav .nav-link {
  color: inherit !important;
  padding: 12px 10px;
}

.tablet-nav .nav-link.active {
  color: var(--primary-color) !important;
}

.tablet-icons {
  gap: 4px;
  padding: 10px;
}

.tablet-icons a {
  padding: 2px 4px;
  font-size: 1.4rem;
  color: var(--black-color) !important;
}

.tablet-overlay {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.tablet-overlay.active {
  opacity: 1;
  visibility: visible;
}

.tablet-overlay i {
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 1.4rem;
  opacity: 0.4;
}

@media (max-width: 810px) {
  .hide-tablet {
    display: none !important;
  }

  .header-nav__list {
    display: block;
  }
}

/* footer */
#footer {
  margin-top: 30px;
}

.footer_register {
  border: #f1f1f1;
  padding: 20px 0;
}

.footer_register {
  border-top: 1px solid #ccc;
}

.footer_content h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer_enter button {
  color: #fff;
  background-color: #c89979;
  border: none;
  font-weight: 700;
  padding: 0 18px;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1rem;
}

.footer_enter input {
  border: none;
  background-color: #f1f1f1;
  padding: 12px;
  flex: 1;
  font-size: 1rem;
}

.footer_enter input:focus {
  outline: none;
}

.footer_body {
  background-color: #333333;
}

.footer_group {
  color: #fff;
}

.footer_group a {
  color: #fff;
}

.footer_group p,
.footer_group a {
  font-size: 0.9rem;
}

.footer_group a:hover {
  text-decoration: none;
  color: #c89979;
  cursor: pointer;
}

.footer_title {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer_box {
  margin: 5px 0;
}

.footer_box i {
  padding-right: 5px;
}

.footer_xh {
  margin-top: 15px;
  gap: 10px;
}

.footer_follow {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: none;
  color: #fff;
  font-size: 1.1rem;
}

.footer_follow:hover {
  cursor: pointer;
  opacity: 0.9;
}

.fb {
  background-color: #3a589d;
}

.ig {
  background-color: #3d6994;
}

.tw {
  background-color: #2478ba;
}

.lk {
  background-color: #0072b7;
}

.footer_link {
  margin: 5px 0;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  color: #fff;
}

.footer-author {
  font-size: 0.8rem;
}

.header-logo {
  font-family: "Fasthand", cursive;
  font-weight: 700;
  color: #fff;
  font-size: 1.4rem;
}

.header-logo:hover {
  color: #c89979;
  text-decoration: none;
}

.footer-img {
  height: 40px;
}

@media (max-width: 768px) {
  .tablet-center {
    text-align: center;
  }

  .tablet-center .footer_xh {
    justify-content: center;
  }

  .tablet-top {
    padding-top: 40px;
  }

  .footer-bottom {
    flex-direction: column-reverse;
  }

  .footer-bottom p {
    margin-bottom: 0;
    margin-top: 1rem;
    text-align: center;
  }

  .footer-bottom .justify-content-end {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}

@media (max-width: 576px) {
  .mobile-top {
    padding-top: 40px;
  }

  .footer-img {
    padding: 0 10px;
  }
}
